body {
	height: 100%;
	font-family: "Inconsolata", sans-serif;
	background: #FAFAFA;
}
input[type=text] {
	width:100%;
	padding:12px 20px;
	box-sizing: border-box;
}
input[type=number] {
	width:100%;
	padding:12px 20px;
	box-sizing: border-box;
}

input[type=datetime-local] {
	width:100%;
	padding:12px 20px;
	box-sizing: border-box;
}